body {
  /*background-image: url("http://thepatternlibrary.com/img/ae.jpg");*/
  background-image: url("http://thepatternlibrary.com/img/az.png");
  background-repeat: repeat;
  font-family: baloo thambi,sans-serif;

}
h1{
  font-size: 6em;
  color: #e8fa96;

}
h3{
  font-family: lato, sans-serif;
  font-weight:900;
  color: #452b5b;
}

p{
  font-family: lato, sans-serif;;
  font-weight: bold;
}

.container{
  text-align: center;
  padding: 20px;
}

.quote-box{
  margin: 20px;
  background-color: white;
  opacity:.7;
  border-radius: 0px 25px 25px 0px;
}

.btn{
  opacity:.8;
}
